@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/open-sans-300');
    src: local('☺'), url('../fonts/open-sans-300.woff') format('woff'), url('../fonts/open-sans-300.ttf') format('truetype'), url('../fonts/open-sans-300.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Antonio Light';
    src: url('../fonts/antonio-light');
    src: local('☺'), url('../fonts/antonio-light.woff') format('woff'), url('../fonts/antonio-light.ttf') format('truetype'), url('../fonts/antonio-light.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
