$grey-darker: #221f1f;
$grey: #272727;
$grey-lighter: #313131;
$grey-lightest: #3d3d3d;
//-------------------------------
$green-darker: #fff;
$green: #0DBC34;
$green-lighter: #46dc67;
//-------------------------------
$orange-darker: #fff;
$orange: #F98211;
//-------------------------------
$red-darker: #fff;
$red: #e61028;
$red-lighter: #ff4f61;
